body{
	overflow: hidden;
}
.slider{
	height: auto;
}
.myslide{
	height: 45vw;
	height: auto;
	display: none;
	overflow: hidden;
	margin-top: 5vw;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 0.5vh;
	top: 18vw;
	left: 15vw;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25vw;}
  to {left: 15vw;}
}


@keyframes posi {
  from {left: 25vw;}
  to {left: 15vw;}
}

.txt h1{
	color: #F11E7B;
	font-size: 3.3vw;
	margin-bottom: 1vw;
}
.txt p{
	font-weight: bold;
	font-size: 1.3vw;
	line-height: 2vw;
}
.myslide img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
	filter: brightness(60%)
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
.dot{
	display: inline-block;
	width: 1vw;
	height: 1vw;
	border: 0.1vh solid #fff;
	margin: 0 1vw;
	cursor: pointer;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 5vw;
	cursor: pointer;
	z-index: 1;
}
.active, .dot:hover{
	border-color: #F11E7B;
	scale: 1.5;
}














