.container{
    margin: 7vw 0vw;
    
}
.search{
    text-align: center;
    margin: 3vw;
    margin-top: 10vw;
    scale: 1.5;
    font-size: 1.2vw;
}
.search input{
    margin: 1vw;
    height: 2vw;
    width: 20vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 1vw;
}
.poradniki{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.poradnik{
    margin: 1vw;
    width: 28vw;
    height: 9vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    background: rgba(80, 80, 80, 0.5);
    transition: .3s;
    font-size: 1.1vw;
}
.poradnik img{
    height: 100%;
    padding: 1vw;
}
.poradnik .name{
    padding: 1vw;
}
.poradnik .name h3{
    margin: 0vw 0vw 0.5vw 0vw;
    font-size: 1.8vw;
}